.about_wrapper
{
    width: 100%;
    height: 60vh;

    top: 20%;

    position: absolute;
}

.about_text
{
    background-color: rgba(34, 105, 107, 0.849);
    color: rgb(16, 212, 186);

    width: 80%;
    left: 10%;
    position: relative;

    padding: 2%;

    border-radius: 15px;
}