{% extends 'base.html'%}


{%block title%}
    <title>{{ data.title }}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/about.css') }}">
{% endblock %}


{%block links%}
    <a href="/">Home</a>
{% endblock %}

{%block main%}
    <div class="about_wrapper">
        <div class="about_text">
            <p>&nbsp;&nbsp;&nbsp;&nbsp;Привет, на связи M_O_D_E_R.</p>&nbsp;&nbsp;&nbsp;&nbsp;Я студент первого курса. Идеей проекта стала Django ORM.
            Но так для своего проекта(не для сайтов) эту штуку тянуть слишком затратно, я решил написать свою реализацию.<br>
            &nbsp;&nbsp;&nbsp;&nbsp;Да, конечно есть много других ORM, но Slash92 очень проста в освоении и проявляет гибкость в SQL-запросах.<br>
            &nbsp;&nbsp;&nbsp;&nbsp;До запроса в бд, пользовательские данные проходят валидацию, а именно:
            <ul>
                <li>Валидация имён: таблицы, колонок</li>
                <li>Проверка правил (подходят ли данные)</li>
                <li>Проверка валибности SQL-запроса</li>
            </ul>
        </div>
    </div>
{% endblock %}

{%block footer%}
{% endblock %}
