<!DOCTYPE html>
<html>
    <head>
        {%block title%}{% endblock %}
        <link rel="stylesheet" href="{{ url_for('static', filename='main/css/bootstrap-5.0.0-beta1-dist/css/bootstrap.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">

        <script src="{{ url_for('static',  filename='js/jquery-3.4.1.min.js' ) }}"></script>
        <script src="{{ url_for('static', filename='js/main.js') }}"></script>
        <script src="{{ url_for('static', filename='js/Menu.js') }}"></script>
        <script src="{{ url_for('static', filename='js/change_cls.js') }}"></script>
    </head>
    <body>
        <header class="header">
            <div class="head">
                Slash92
            </div>
        
            <div class="menu"  style="transition: 1s;">
                <div class="menu_btn" style="cursor: pointer;">
                    <span></span>
                </div>

                <nav class="nav__" style="transition: 1s;">
                    {%block links%}{% endblock %}
                    <a href="https://github.com/m-o-d-e-r/Slash">Github</a>
                    <a href="https://pypi.org/project/Slash92/">Pypi</a>
                </nav>
            </div>
        </header>

        <canvas id="Canvas" width="1357" height="550" style="width: 100vw; height: 85vh;"></canvas>

        <main>
            {%block main%}{% endblock %}
        </main>

        <footer>
            {%block footer%}{% endblock %}
        </footer>
    </body>
</html>