{% extends 'base.html'%}


{%block title%}
    <title>{{ data.title }}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/error.css') }}">
{% endblock %}

{%block links%}
    <a href="/">Home</a>
    <a href="/about">About</a>
{% endblock %}

{%block main%}
    <div class="error_wrapper">
        <div class="error_div">
            <div class="responce_code">
                {{ data.code }}
            </div>

            <div class="responce_error">
                {{ data.error }}
            </div>
        </div>
    </div>
{% endblock %}

{%block footer%}
{% endblock %}